<header class="site-header">
  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/lungs">Lung Cancer</a></li>
        <li class="fork"><a href="{{site.baseurl}}/climate">Climate change</a></li>
        <li class="fork"><a href="{{site.baseurl}}/impact">Impact</a></li>
        <li class="fork"><a href="{{site.baseurl}}/donate">How you can help</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>
